@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  font-size: 18px;
}

body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Indie Flower", cursive;
  font-weight: 500;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divImg {
  width: 90vw;
  height: 4rem;
  font-size: 1.2rem;
  letter-spacing: 10px;
  background-color: rgb(26, 44, 66);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-top: 1rem;
}

.flecha {
  width: 25vw;
  margin: 1rem;
}

.contenedor {
  width: 90vw;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contentEnd,
.divResultado,
.divFinal {
  height: 33rem;
  width: 45%;
  padding: 1rem;
  background-color: #272727;
  border-radius: 50px 15px;
  transition: ease-in-out 0.5s;
}

.contentEnd {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divEncriptador {
  width: 100%;
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  width: 100%;
  text-align: center;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.divResultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,
p {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input,
button,
.resultado {
  font-family: "Indie Flower", cursive;
  font-weight: 500;
}

input {
  font-size: 1.2rem;
  width: 83%;
  height: 3rem;
  text-align: center;
  border: none;
  border-radius: 30px;
  background-color: #fff;
}

input:focus {
  background-color: #21af79;
  color: #fff;
}

input:focus::placeholder {
  color: #fff;
}

input:focus-visible {
  outline: 2px solid #21af7974;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 38%;
  height: 2.5rem;
  padding: 0.2rem;
  border-radius: 15px;
  background-color: #04192f;
  color: #fff;
}

.contenedorBtns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

button:hover {
  cursor: pointer;
  background-color: #21af79;
  transition: ease-in-out 0.2s;
}

.searchImg {
  width: 15rem;
  height: 15rem;
  margin-bottom: 1rem;
}

.divFinal {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.resultado {
  font-size: 1.2rem;
  width: 20rem;
  min-height: 10rem;
  text-align: center;
  background-color: #272727;
  color: #fff;
  border: none;
  resize: none;
}

.resultado:focus-visible {
  outline: none;
}

.asterisco {
  color: red;
  margin-right: 0.5rem;
}

@media (width <= 1110px) {
  :root {
    font-size: 16px;
  }
}
@media (width <= 1040px) {
  :root {
    font-size: 15px;
  }
}

@media (width <= 1000px) {
  .flecha {
    display: none;
  }
}

@media (width <= 768px) {
  :root {
    font-size: 17px;
  }

  .contenedor,
  .contentEnd {
    flex-direction: column;
    background-color: transparent;
    height: unset;
    width: 100%;
  }

  .contenedor {
    margin-top: 1rem;
    padding: 0px;
  }

  .divEncriptador {
    height: 25rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  input {
    width: 70vw;
    height: 3rem;
  }

  .divResultado {
    height: initial;
    width: 70vw;
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .divFinal {
    display: none;
    justify-content: initial;
    width: 70vw;
    margin: 0.5rem;
    padding: 0.5rem;
    height: initial;
  }

  .resultado {
    width: 100%;
    background-color: transparent;
    min-height: 3rem;
  }

  .searchImg {
    display: none;
  }

  .btnContainer {
    width: 30rem;
  }

  button {
    width: 30vw;
  }
}
@media (width <= 616px) {
  :root {
    font-size: 16px;
  }
}

@media (width <= 376px) {
  :root {
    font-size: 17px;
  }

  .contenedorBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    margin-bottom: 0.5rem;
  }

  .divResultado,
  .divFinal,
  .contentEnd,
  .btnContainer {
    width: 18rem;
  }

  .resultado {
    width: 15rem;
  }
}

@media (width <= 314px) {
  :root {
    font-size: 16px;
  }
}

@media (width <= 294px) {
  :root {
    font-size: 15px;
  }
}

@media (width <= 276px) {
  :root {
    font-size: 14px;
  }
}
@media (width <= 260px) {
  :root {
    font-size: 13px;
  }
}
